@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", system-ui;
    font-size: 14px;
    line-height: 24px;
}
.container{
    width: 1170px;
    margin: 100px auto;
}

img{
    max-width: 100%;
    vertical-align: middle;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
.btn{
    display: inline-block;
    text-align: center;
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    border-radius: 7px;
    transition: .3s;
}
.btn.btn-primary{
    background-color: #f77220;
    padding: 12px 20px;
}
.btn.btn-primary:hover{
    background-color: #333;

}

/*====================
About CSS Start
=====================*/
.about {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 30px;
  }
  .section-tile {
    margin-bottom: 40px;
    text-align: center;
  }
  .section-tile h4 {
    font-size: 20px;
    text-transform: lowercase;
  }
  .section-tile h2 {
    font-size: 38px;
    text-transform: capitalize;
    margin: 20px 0;
    padding-bottom: 20px;
    font-weight: 600;
    position: relative;
  }
  .section-tile h2:before {
    content: "";
    position: absolute;
    width: 70px;
    height: 2px;
    background: #ff7720;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .section-tile h2::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background: #ff7720;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
  .about-content p {
	margin: 20px 0;
}

.about-img{
    position: relative;
}
.about-img img{

    border: 1px solid #ddd;
}
.about-img img:nth-child(1){
    max-width: 400px;
}
.about-img img:nth-child(2){
    position: absolute;
    left: 30%;
    top: 30%;
    max-width: 400px;
    
}  
/*==========About-3 CSS End===========*/