@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 24px;
}
.container{
    width: 1170px;
    margin: 0 auto;
}

img{
    max-width: 100%;
    vertical-align: middle;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #333;
}

.btn{
    display: inline-block;
    text-align: center;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border-radius: 7px;
    transition: .3s;
}
.btn.btn-primary{
    padding: 12px 20px;
    background-color:#0099FF;
}
.btn.btn-border{
    border: 2px solid #0099FF;;
    padding: 10px 18px;
    color: #0099FF;
}
.btn.btn-primary:hover{
    background-color: #333;
}
.btn.btn-border:hover{
    border-color: #333;
}

.header-area{
    border-bottom: 1px solid #ddd;

}
.header {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    column-gap: 30px;
    padding: 20px 0;
    align-items: center;
    
  }
  
  .menu ul {
    display: flex;
    justify-content: center;

  }
  .menu ul li a {
    font-size: 16px;
    font-weight: 500;
    margin-right: 30px;
    text-transform: capitalize;
    transition: .3s;
  }
  .menu ul li a:hover {
    color: #0099FF;
  }


  
.header-btn a {
    padding: 13px 48px !important;
  }
  .header-btn a:hover {
    background: #333;
  }
  .banner-area{
    padding: 60px 0;
  }
  .banner {
    display: grid;
    grid-template-columns: repeat(2,auto);
    margin-right: 30px;
    justify-content: center;
    align-items: center;
  }
  .banner-content {
    padding-right: 30px;
  ;
  }
  .banner-content h2 {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 48px;
    margin-bottom: 20px;
  }
  .banner-content a {
    margin: 20px 0;
    
  }
  .banner-btn a{
    margin-right: 10px;
  }